.item-container {
    display: flex;
    justify-content: space-between;

    .item-name {
        min-width: 140px;
    }
    .item-value {
        min-width: 100px;

        &.-green {
            color: green;
        }
        
        &.-red {
            color: red;
        }
    }
    .item-date {
        min-width: 100px;
    }
}