.app-container {
    height: 100%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;

    .dashboard-wrapper {
        width: 100%;
        max-width: 1000px;
        height: fit-content;

        @media (max-width: 1023px) {
            padding: 20px;
        }
    }
}